body {
  margin: 0;
}

.header {
  background-color: #131210;
  margin: 0 0;
  background-size: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  color: white;
  margin-top: 30px;
}

.menu-text {
  padding-right: 15px;
}

.menu {
  display: inline-block;
  padding-left: 50px;
}

#menu-first-pic {
  padding-left: 101px;
}

#menu-second-pic {
  padding-left: 700px;
}

.main-text {
  color: #131210;
  text-transform: uppercase;
  font-size: 8em;
  text-align: center;
  padding-top: 282px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -150px;
}

.button-style {
  width: 124px;
  height: 55px;
  border: none;
  background-color: white;
  border-radius: 30px;
  color: #135ec5;
  font-weight: bold;
  font-size: medium;
}

.paragraf {
  margin: 0;
  border: 20px solid #12110f;
  border-radius: 70px;
  margin: 0 150px;
  background-color: #100f0d;
}

.main-pic {
  padding-left: 330px;
  margin-top: -210px;
}

.footer-main {
  margin: 50px 0;
}

.footer-content-button {
  padding: 0;
  display: inline-block;
  width: 214px;
  height: 55px;
  border: none;
  border-radius: 30px;
  background-color: #135ec5;
  font-weight: bold;
  font-size: medium;
  color: white;
}

.footer-p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: medium;
  font-weight: bold;
}
ul {
  list-style: none;
}

.li1 {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #3c3c3c;
  font-size: 2em;
  font-weight: bold;

  padding-right: 30px;
}

hr {
  background-color: #3c3c3c;
  border: none;
  width: 330px;
  height: 2px;
}

#hr-black {
  border: none;
  background-color: #131210;
}

.conteiner {
  background-color: white;
}

.con-p1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.125em;
  color: #c1c1c1;
  font-weight: bold;
}

.con-li {
  display: inline-block;
  margin: 50px 40px;
  padding-right: 40px;
}

.con-p2 {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #c1c1c1;
  text-transform: uppercase;
  color: white;
  font-size: 6em;
  font-weight: bold;
  }

  .con-p2-2 {
    font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 7px #c1c1c1;
  text-transform: uppercase;
  color: white;
  font-size: 6em;
  font-weight: bold;
  padding-left: 230px;
  margin-top: -80px;
  }

.con-main {
  display: inline-block;
  margin-left: 70px;
}

.con-main2 {
  display: inline-block;
  margin-left: 70px;
  padding-bottom: 100px;
}

.con-img {
  margin-top: -250px;
  margin-right: 50px;
}

.con-p3 {
  color: #135ec5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.75em;
  text-transform: capitalize;
  font-weight: bold;
}

.con-bmw {
  text-transform: uppercase;
}

.con-p4 {
  color: #c1c1c1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.con-button {
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-variant: small-caps;
  border: none;
  width: 214px;
  height: 55px;
  background-color: #135ec5;
  border-radius: 30px;
  margin-top: 30px;
}

.con-hr {
  width: 100%;
  border: none;
  background-color: #c1c1c1;
}


.con2-header {
  background-color: #135ec5;
  height: 400px;
}

.con2-header{
text-align: center;
}

.con2-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  padding-top: 70px;
  }

  .con2-button {
    width: 150px;
    height: 30px;
    background-color: #135ec5;
    color: white;
    font-variant: small-caps;
    border-radius: 30px;
    border: 2px solid white;
    margin-top: 40px;
  }

  
  .con2-main {
background-color: white;
padding-top: 30px;
display: inline-block;
border: 10px solid #f8f9fa;
  }

  .rectangle {
    width: 450px;
    height: 195px;
    background-color: #135ec5;
    color:rgba(255, 255, 255, .1);
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
  }
.rectangle-button {
  margin-top: -198px;
  padding-left: 327px;
}

.rectangle-button-style {
  width: 85px;
  height: 29px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  font-size: medium;
  color: #135ec5;
  font-variant: small-caps;
}

  .square {
    width: 450px;
    height: 373px;
    background-color: white;
  }

 .square-text1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
   font-size: 1.7em;
   margin-top: 120px;
   text-align: center;
 }

 .square-text2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
   font-size: 1em;
   color: #135ec5;
   text-align: center;
   margin-top: 10px;
 }

 .square-text3 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
   font-size: 1.2em;
   color: #e2e2e2;
   text-align: center;
   margin-top: 30px;
 }

 .square-text4 {
   font-size: 2em;
   font-weight: bold;
   color: #16ad2c;
   margin-top: 40px;
   }

 .square-text5 {
   width: 180px;
  height: 45px;
  border: none;
  background-color: #e2e2e2;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  font-variant: small-caps;
  }

 #square-block {
   display: inline-block;
   padding-left: 50px;
 }
 
 .con2-footer {
display: inline-block;
border: 10px solid #f8f9fa;

 }


 .fb1-header1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1em;
   color: #d9d9d9;
   font-weight: bold;
   display: inline-block;
   padding-left: 40px;
 } 

 .fb1-header2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  color: #16ad2c;
  font-weight: bold;
  display: inline-block;
  padding-left: 200px;
 } 

 .fb1-text1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  color: #135ec5;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  }

 .fb1-text2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 40px;
 }

 .fb1-text3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 40px;
 }

 .fb1-text4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 40px;
 }

 .fb1-text5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 40px;
 } 

 .fb1-button {
  width: 214px;
  height: 55px;
  border: none;
  border-radius: 30px;
  background-color: #135ec5;
  font-weight: bold;
  font-size: medium;
  color: white;
  font-variant: small-caps;
 } 

.fb1-button2 {
   padding-top: 60px;
   text-align: center;
 } 

 .fb2-button {
  width: 85px;
  height: 29px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  font-size: medium;
  color: #135ec5;
  font-variant: small-caps;
 }

 .fb2-button2 {
   margin-top: -450px;
   padding-left: 800px;
 } 

 .fb2-img {
  padding-left: 348px;
  margin-top: 64px;
 }

 .con2-main {
display: inline-block;
padding-left: 40px;
margin-top: 60px;
 }

  .con2-main-img {
    margin-top: 39px;
    padding-left: 113px;
 }

 .footer-block1 {
   background-color: #135ec5;
   width: 960px;
   height: 683px;
 }

 .element1 {
   background-color: white;
   width: 450px;
   height: 100%;
 }


  .block4 {
margin: 152px 150px 150px 150px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
 } 
 
 .li1-block4 {
   display: inline-block;
   color: black;
   opacity: .5;
   font-size: 1em;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-left: 60px;
   font-weight: bold;
 }

 .li1-block4:hover {
  opacity: 1; 
 }

 .header-block4 hr {
   display: inline-block;
   background-color: #e1e1e1;
   width: 200px;
   height: 2px;
 }

 

 .header-block4 img {
   padding-left: 60px;
 }

 .main-block4 {
   padding: 0;
 }
 .main-block4 li {
display: inline-block;
padding-left: 90px;
 }
 .header-hr {
   width: 100%;
   height: 2px;
   background-color: #f5f5f5;
 }

 .main2-block4 li {
   display: inline-block;
   color: black;
   opacity: .5;
   font-size: 1em;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-left: 60px;
   font-weight: bold;
 }

 .main2-block4 li:hover {
   opacity: 1;
 }

 .main2-block4 hr {
   background-color:#e1e1e1;
   width: 200px;
   height: 2px;
   border: none;
 }

 .footer-block4 {
   background-color: #135ec5;
   margin-top: 70px;
 }

 .main3-block4 {
  text-align: center;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: .8em;
    background-color: #135ec5;
    width: 180px;
    height: 38px;
    line-height: 23px;
    position: absolute;
    margin-top: -29px;
    margin-left: 452px;
    padding-top: 7px;
   
 }

 .footer-li1-block4 li{
   display: inline-block;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1em;
   font-weight: bold;
   color: white;
   opacity: .5;
   padding-left: 60px;
  }

  .footer-li1-block4 li:hover {
    opacity: 1;
  }

 
 .footer-li1-block4 hr {
   background-color: #6d90d4;
   width: 200px;
   height: 2px;
 }

 .footer-li2-block4 li {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  opacity: .5;
  padding-left: 60px;
 }

 .footer-li2-block4 li:hover {
   opacity: 1;
 }

 .footer-li2-block4 hr {
  background-color: #6d90d4;
  width: 200px;
  height: 2px;
}

.footer-block4 button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  font-size: medium;
  color: #135ec5;
  font-variant: small-caps;
}

.footer-button-block4 {
  padding-left: 460px;
  padding-bottom: 40px;
}

.footer-block4-conteiner {
  padding-top: 40px;
}

.header-block4-conteiner {
  padding-top: 40px;
}