:root {
  font-size: 16px;
  --font-style: "Roboto", sans-serif;
}
.header {
  background-image: url("../img/Layer\ 21@1X.png");
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
}
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.header-first-block {
  color: white;
  padding-top: 531px;
  padding-left: 215px;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}
p {
  font-size: 1.125em;
}
.header-second-block {
  text-align: center;
  width: 831px;
  height: 129px;
  border: 1px solid white;
  font-variant: small-caps;
  font-size: 3.375em;
  padding-top: 1.15em;
  background-color: rgba(0, 0, 0, 0.2);
}
.header-second-block span {
  margin-right: 0.5em;
  color: #f1ad1d;
}

.conteiner {
  width: 100%;
  height: 5000px;
}

.conteiner_block_header {
  margin-top: 50px;
  text-align: center;
  font-size: 1.0625em;
}

.conteiner_block_header h3,
.conteiner_block_header p {
  margin-top: 25px;
}

hr {
  margin-top: 20px;
  border: none;
  background: #f1ad1d;
  width: 50px;
  height: 2px;
  margin: 50px auto;
}

.award {
  width: 280px;
  margin: 0 auto;
  margin-top: 70px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.375em;
}
.navigation {
  height: 60px;
  overflow: auto;
  border-bottom-width: 3px;
  border-bottom-color: #f1b128;
  border-bottom-style: solid;
  text-transform: uppercase;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  font-family: Roboto;
}
.navigation li {
  list-style: none;
  margin-left: 50px;
  float: left;
  font-size: 1.2em;
  margin-top: 3px;
  transition: all 0.7s;
}
.navigation > * {
  float: left;
}
ul {
  margin: 0;
}
.navigation > div:first-of-type {
  margin-right: 120px;
}
.sertin_class {
  font-size: 1.8em;
}
ul li:hover::after {
  /*content: url(../img/arrow.png); */
  /* content: url(../img/arrow.png); */
  content: "";
  display: inline-block;
  background-image: url(../img/arrow.png);
  background-position: 1px 5px;
  background-repeat: no-repeat;
  color: #f1b128;
  width: 11px;
  height: 13px;
}

ul li:hover {
  color: #f1b128;
}

.content-conteiner {
  width: 47%;
  min-height: 318px;
}
.content-conteiner > div {
  display: flex;
}
.img-all {
  width: 50%;
  height: 148px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 12px;
}
.content-picture1 {
  background-image: url("../img/Layer.png");
  margin-top: 5px;
}

.content-picture2 {
  background-image: url("../img/Layer\ 24@1X.png");
  margin-top: 5px;
}

.content-picture3 {
  background-image: url("../img/Layer\ 25@1X.png");
  margin-top: 10px;
}
.content-picture4 {
  background-image: url("../img/Layer\ 26@1X.png");
  margin-top: 10px;
}

.second-conteiner {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.third-conteiner {
  width: 53%;
  margin-left: 20px;
}

h3 {
  margin: 0;
  padding: 0;
}
.third-conteiner {
  font-size: 1.125em;
}

.block-text {
  margin-top: 22px;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
}

.block-btn {
  width: 176px;
  height: 51px;
  background-color: #f1ad1d;
  text-align: center;
  line-height: 51px;
  margin-top: 27px;
}

.block-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.third-conteiner span {
  color: #f1ad1d;
}

.section-score {
  height: 380px;
  background-image: url("../img/score.png");
  margin-top: 120px;
  margin-bottom: 114px;
}
.section-score p {
  text-align: center;
  padding-top: 151px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.orange {
  color: #f1ad1d;
}
.article-foto-people {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 180px 180px;
  grid-gap: 5px;
  width: 80%;
  margin: auto;
}

.article-foto-people > div:nth-child(1) {
  background: url(../img/photo_people/layer\27@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.article-foto-people > div:nth-child(2) {
  background: url(../img/photo_people/layer\28@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(3) {
  background: url(../img/photo_people/layer\29@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(4) {
  background: url(../img/photo_people/layer\30@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(5) {
  background: url(../img/photo_people/layer\31@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(6) {
  background: url(../img/photo_people/layer\32@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.article-foto-people > div:nth-child(7) {
  background: url(../img/photo_people/layer\34@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(8) {
  background: url(../img/photo_people/layer\34@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(9) {
  background: url(../img/photo_people/layer\35@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(10) {
  background: url(../img/photo_people/layer\36@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(11) {
  background: url(../img/photo_people/layer\37@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(12) {
  background: url(../img/photo_people/layer\38@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people .block_text {
  width: 136px;
  height: 42px;
  background-color: #333333;
  position: relative;
  top: 65%;
  left: 10%;
  line-height: 42px;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  padding-left: 15px;
}

.block-text > span {
  color: #f1ad1d;
}
.center {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.own_service > hr {
  margin: 15px auto;
  text-align: center;
}
.block_text_boot {
  background-color: #333333;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: rgba(255, 255, 255, 255);
}
.own_service {
  border-bottom: 2px solid black;
  margin: 0 20px;
}
.own_service > div:nth-child(2) {
  height: 100px;
  padding: 30px 0;
}
.own_service > div:nth-child(3) {
  height: 100px;
}

/*-----------------four-logo-------------*/

.four-logo {
  height: 475px;
  background-image: url("../img/fon2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 250px;
  margin-bottom: 150px;
}
.logo-p {
  text-align: center;
  font-size: 22px;
  color: rgba(255, 255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 175px;
}
.logo-p span {
  color: #f1ad1d;
}
.choice {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

/*-----------------employyes-------------*/

.employees {
  display: flex;
  width: 80%;
  height: 215px;
  margin: auto;
  margin-bottom: 266px;
}
.employees .col {
  padding: 0px;
}
.psevdo-element {
  display: inline-block;
}
.psevdo-element:after {
  content: "";
  background-image: url("../img/zap.png");
  width: 52px;
  height: 48px;
  display: inline-block;
}
.line {
  display: inline-block;
  width: 84.5%;
  border: 2px solid #f1ad1d;
  position: relative;
  top: -8px;
  margin-left: 13px;
}
.the-best-template {
  margin-top: 15px;
  font-family: var(--font-style);
  font-size: 14px;
  color: rgba(91, 91, 91, 1);
  text-align: justify;
}
.thomas {
  display: flex;
  margin-top: 15px;
  height: 33%;
  border-top: 2px solid black;
}
.thomas img {
  margin-top: 23px;
}
.name {
  font-size: 14px;
  color: rgba(49, 49, 49, 1);
  font-style: var(--font-style);
  font-weight: bold;
  margin-top: 27px;
  margin-left: 10px;
}
.spec {
  font-size: 14px;
  color: rgba(91, 91, 91, 1);
  font-style: var(--font-style);
  margin-left: 10px;
}
.spec span {
  text-transform: uppercase;
}
.for-custom {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.custom-file {
  margin: 0 auto;
  width: 50%;
  height: 70px;
}

.input-block {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.input-block div:first-child {
  width: 46%;
}

.input-block div:nth-child(2) {
  margin: 15px 0;
}

.info-blocks {
  display: flex;
  flex-direction: column;
}

.input-block div {
  margin: 15px 0;
}

.input-block input {
  margin-right: 29px;
  margin-bottom: 22px;
}

.block_text_info {
  background-color: #333333;
  height: 56px;
  line-height: 56px;
  text-align: left;
  color: rgba(255, 255, 255, 255);
  padding-left: 10px;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.five-logo {
  height: 475px;
  background-image: url("../img/Layer63@1X.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 250px;
  margin-bottom: 150px;
}
.choose {
  border-color: white;
  background-color: transparent;
  width: 177px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.five-logo div {
  padding-left: 664px;
}

.menu-button1 {
  width: 87px;
  height: 39px;
  background-color: black;
  color: #be8c23;
  border: none;
  font-size: 0.9em;
}

.menu-button2 {
  width: 141px;
  height: 39px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 0.9em;
}

.menu-button3 {
  width: 160px;
  height: 39px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 0.9em;
}

.menu-button4 {
  width: 111px;
  height: 39px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 0.9em;
}

.menu-button5 {
  width: 107px;
  height: 39px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 0.9em;
}

.menu-button6 {
  width: 139px;
  height: 39px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 0.9em;
}

.last-header {
  margin-top: -50px;
}

.last-menu {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-left: 343px;
}

.block-pic1 > div:nth-child(1) {
  width: 281px;
  height: 271px;
  border: 2px solid black;
}

.block-page header h4 {
  text-align: center;
}

.block-hr {
  margin-top: 20px;
}

.block-page main {
  margin-top: -20px;
  font-size: 0.9em;
  text-align: center;
}
.block-page footer button {
  width: 141px;
  height: 39px;
  background-color: #be8c23;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  border: none;
}

.block-page footer {
  padding-top: 30px;
  padding-left: 50px;
}

.block-page > header {
  padding-top: 25px;
}

.block-pic1 > div:nth-child(2) {
  background-image: url(../img/Layer40@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic1 > div:nth-child(3) {
  background-image: url(../img/Layer41@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic1 > div:nth-child(4) {
  background-image: url(../img/Layer42@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic1 {
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin-top: 50px;
  margin-left: 191px;
}

.block-pic2 > div:nth-child(1) {
  background-image: url(../img/Layer\ 43@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic2 > div:nth-child(2) {
  background-image: url(../img/Layer\ 44@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic2 > div:nth-child(3) {
  background-image: url(../img/Layer45@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic2 > div:nth-child(4) {
  background-image: url(../img/Layer\ 46@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic2 {
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin-top: 15px;
  margin-left: 191px;
}

.block-pic3 > div:nth-child(1) {
  background-image: url(../img/Layer47@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic3 > div:nth-child(2) {
  background-image: url(../img/Layer48@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic3 > div:nth-child(3) {
  background-image: url(../img/Layer49@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic3 > div:nth-child(4) {
  background-image: url(../img/Layer50@1X.png);
  width: 281px;
  height: 271px;
}

.block-pic3 {
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin-top: 15px;
  margin-left: 191px;
}

.last-page > section:nth-child(1) {
  background-color: black;
  height: 63px;
  padding-top: 50px;
}

.footer-text {
  color: white;
  font-size: 1.125em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: -33px;
}

.last-page {
  margin-top: 70px;
}

.last-page > section:nth-child(2) {
  height: 85px;
}

.footer-text2 {
  padding-top: 35px;
  color: silver;
  text-align: center;
}