
body {
  margin: 0;
}
/* block 1 */

header {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
}

.header div:first-child {
  margin-left: 250px;
  margin-bottom: 40px;
}

.navigation {
  display: inline-block;
}

.header-menu {
  list-style: none;
  display: inline-block;
  padding-left: 300px;
}

.menu-list {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-variant: small-caps;
  padding-left: 40px;
}

.menu-list::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #e8bf5d;
  transition: width 0.3s;
}

.menu-list:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.main {
  background-image: url(../img/stock-photo-177211577@1X.png);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  margin-top: 50px;
}

.main > div:nth-child(1) {
  display: flex;
  padding-top: 800px;
  padding-left: 400px;
}

.main-text {
  color: white;
  border-left: 2px solid #e8bf5d;
}

.main-text div:nth-child(1) {
  font-size: 4em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 15px;
}

.main-text div:nth-child(2) {
  font-variant: small-caps;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.main-button {
  padding-top: 34px;
}

.main button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #e8bf5d;
  text-align: center;
  font-size: 1em;
  margin-left: 350px;
}

/* block 2 */

.conteiner2 {
  margin-bottom: -100px;
}

.header2 {
  margin-top: 60px;
  margin-left: 350px;
}

.header2-text {
  border-left: 2px solid #e8bf5d;
  }

.header2-text > div:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  padding-left: 15px;
}

.header2-text p {
  font-size: 1.3em;
  padding-left: 15px;
  margin: 0;
  color: rgba(0, 0, 0, .5);
}

.header2-background {
  font-size: 9em;
  color: rgba(1, 1, 1, 0.06);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -120px;
  padding-left: 10px;
}

.block2-main {
  margin-top: -115px;
}

.block2-h3 {
  font-size: 1.9em;
}

.block2-content {
  display: flex;
  margin-bottom: 20px;
}

.block2-content > div:nth-child(1) {
  font-weight: bold;
  font-size: 1.3em;
}

.block2-content > div:nth-child(2) {
  padding-left: 40px;
  font-size: 1.3em;
}

.block2-content2 {
  display: flex;
  margin-bottom: 20px;
}

.block2-content2 > div:nth-child(1) {
  font-weight: bold;
  font-size: 1.3em;
}

.block2-content2 > div:nth-child(2) {
  padding-left: 40px;
  font-size: 1.3em;
}

.block2-content3 {
  display: flex;
  margin-bottom: 20px;
}

.block2-content3 > div:nth-child(1) {
  font-weight: bold;
  font-size: 1.3em;
}

.block2-content3 > div:nth-child(2) {
  padding-left: 40px;
  font-size: 1.3em;
}

.block2-content4 {
  display: flex;
  margin-bottom: 20px;
}

.block2-content4 > div:nth-child(1) {
  font-weight: bold;
  font-size: 1.3em;
}

.block2-content4 > div:nth-child(2) {
  padding-left: 40px;
  font-size: 1.3em;
}

.block2-main {
  display: flex;
  justify-content: space-between;
  margin-left: 340px;
  width: 60%;
}

/* block 3 */

.conteiner3 {
  margin-top: 160px;
  background-color: black;
  color: white;
}
.header2-text2 {
  border-left: 2px solid #e8bf5d;
  }

.header2-text2 > div:nth-child(1) {
  font-size: 2em;
  font-weight: bold;
  padding-left: 15px;
}

.header2-text2 p {
  font-size: 1.3em;
  padding-left: 15px;
  margin: 0;
  color: rgba(255, 255, 255, .6);
}

.main-content3 {
  padding-top: 50px;
  padding-bottom: 100px;
}

.block3-content {
  display: flex;
  width: 106%;
  justify-content: space-between;
}

.img {
  margin-top: 20px;
}

.block3-main {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 400px;
  margin-top: -80px;
}

.header3-background {
  font-size: 9em;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: -120px;
  padding-left: 10px;
}

/* block 4 */

.conteiner4 {
  margin-bottom: 100px;
}

.block4-main section {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin-left: 340px;
  margin-top: -85px;
}

.block4-text {
  margin-top: -15px;
}

/* block 5 */

.conteiner5 {
  background-color: rgba(1, 1, 1, 0.8);
  color: white;
}

.conteiner5 > div:first-child {
  padding-top: 80px;
}

.conteiner5 section:nth-child(1) {
  padding-left: 367px;
}

.img5 {
  position: relative;
  bottom: 331px;
  right: 24px;
}

.block5-text {
  margin-top: -15px;
}

.conteiner5 section {
  font-size: 1.2em;
}

.conteiner5 > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 78%;
}

.conteiner5 span {
  width: 30px;
  height: 25px;
  opacity: 0.25;
  color: #ffffff;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 0.56px;
}

/* block 6 */

.conteiner6 {
  margin-bottom: 103px;
}

.conteiner6 section {
  display: flex;
  justify-content: space-between;
  width: 63%;
  margin-left: 350px;
  margin-top: -100px;
}

.block6-main {
  width: 370px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.block6-main > div:nth-child(1) {
  background-image: url(../img/stock-photo-168251239.png);
  width: 370px;
  height: 299px;
}

.block6-main > div:nth-child(3) {
  padding-top: 15px;
  line-height: 150%;
}

.block6-text {
  margin-top: -17px;
}

.conteiner6 footer h3 {
  margin: 0;
}

.conteiner6 footer {
  display: flex;
  justify-content: space-between;
}

 .conteiner6 section hr {
    background-color: #e8bf5d;
    height: 3px;
    border: none;
    margin-top: 20px;
  } 

.block6-main2 > div:nth-child(1) {
  background-image: url(../img/stock-photo-159856955.png);
  width: 370px;
  height: 299px;
}

.block6-main2 {
  width: 370px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.block6-main2 > div:nth-child(3) {
  padding-top: 15px;
  line-height: 150%;
}

.block6-main3 > div:nth-child(1) {
  background-image: url(../img/stock-photo-140302415.png);
  width: 370px;
  height: 299px;
}

.block6-main3 {
  width: 370px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.block6-main3 > div:nth-child(3) {
  padding-top: 15px;
  line-height: 150%;
}

section footer {
margin-top: 40px;
}

/* block 7 */

.conteiner7 {
  background-color: black;
  color: white;
}

.conteiner7 > div:first-child {
  padding-top: 80px;
}

.block7-article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.conteiner7 section article hr {
  background-color: #e8bf5d;
  height: 2px;
  border: none;
  margin-top: 7px;
  margin-bottom: 16px;
} 

.block7-img {
  background-image: url(../img/Rounded_Rectangle_2.png);
  background-repeat: no-repeat;
  width: 500px;
  height: 382px;
  line-height: 30px;
  /* text-align: center; */
}

.block7-section {
  width: 566px;
}

main {
  display: flex;
  padding-left: 350px;
  margin-top: -80px;
 padding-bottom: 60px;
}

.block7-img span {
  color: black;
  position: relative;
  top: 50px;
  left: 80px;
  text-align: left;
}

/* block 8 */

/* .shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
} */

/* .pictures > div:nth-child(1) {
  background-image: url(../img/base.png);
  width: 363px;
  height: 363px;
  } */

.pictures > div:nth-child(1) {
  background-image: url(../img/Layer_1.png);
  width: 363px;
  height: 363px;
  /* position: relative;
  top: -383px;
  left: 20px; */
  box-shadow: -20px 20px 0 #e8bf5d;
}

form article > input:nth-child(1) {
border: none;
font-size: 1em;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
}

form {
  line-height: 40px;
}

.form-hr {
  margin-top: 60px;
}

form button {
  border: none;
  background-color: #e8bf5d;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.shadow > section:nth-child(1) {
  float: left;
  width: 40%;
  padding-left: 40px;
}

.shadow > section:nth-child(2) {
  float: left;
  padding-left: 60px;
}

form > article:nth-child(5) {
  margin-top: 40px;
}

.shadow {
  width: 60%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  padding-top: 55px;
  padding-bottom: 70px;
}

.conteiner8 footer {
  background: black;
  color: white;
  padding-bottom: 30px;
}

.conteiner8 footer > div:nth-child(1) {
  padding-top: 30px;
  padding-left: 370px;
}

.conteiner8 footer > div:nth-child(2) {
padding-top: 26px;
padding-left: 800px;
}

.conteiner8 footer {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

