body {
    margin: 0;
    padding: 0;
   }

.orange-text{
    color: #f1ad1d;
}

header{
    padding-top: 3em;
    text-transform: uppercase;
}

header ul{
    margin-top: 1.6em;
}

header h1{
    float: left;
    padding-left: 7em;
    padding-right: 10em;
    font-size: 1.56em;
}

header li{
    float: left;
    list-style: none;
    padding-left: 2em;
    font-size: .87em;
}

header li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #f1ad1d;
    transition: width .2s;
}

header li:hover::after {
    width: 100%;
    transition: width .2s;
}

.adam{
    margin-top: 5em;
    background-image: url("../HW/img/stock-photo-177211577@1X.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    background-size: 100% 100%;
  }

  .position{
    display: flex;
    padding-top: 37.35em;
    padding-left: 14em;
  }

  .border{
      width: 65%;
      padding-top: 0;
      border-left: solid #f1ad1d 2px;
  }

  .border div:first-child{
      color:white;
      font-size: 3.7em;
      margin: 10px;
  }

.border div:nth-child(2){
    color:white;
    font-size:1.5em;
    margin: 10px;
}

.contact{
  width: 45%;
  margin-top: 2.8em;
  margin-left:4.3em;
}

.contact button{
    border: none;
    background-color:  #eeba4b;
    border-radius: 60px;
    width: 10em;
    color: rgb(87, 87, 87);
    height: 3.5em;
}

.numbers{
    font-size: 10em;
    position: absolute;
    opacity: .2;
    padding-top: .4em;
    padding-left: .8em;
}

.about-us .border{
    margin-top: 1em;
    margin-left: 3em;
    width: 43%;
    line-height: 155%;
    padding-left: .7em;
  }

.about-us{
    padding-top: 6em;
    padding-left: 5em;
}

.history-expertise{
    display: flex;
    width: 80%;
    padding-top: 4.4em;
    margin: 0 auto;
    padding-bottom: 4.5em;
    justify-content: space-between;
   
}

.history-expertise ul{
    padding: 0;
    width: 38%;
    line-height: 216%;
    padding-top: 1em;
}

.history-expertise h3{
    font-size: 1.3em;
}

.history{
  display: flex;
  width: 50%;
}

.years{
  width: 30%;
}

.years li{
  list-style: none;
  font-size: 1.3em;
  font-weight: 900;
}

.history-info{
    width: 73%;
    padding-top: 3.5em;
}

.history-info div{
  font-size: 1em;
}

.expertise{
  width: 50%;
  line-height: 155%;
  padding-left: 4.8em;
}

.page2, .page4, .page6{
    padding-top: 30px;
    background-color: black;
    color: white;
    padding-bottom: 7em;
  }


.page2 .border,  .page4 .border, .page6 .border{
    margin-top: 7em;
    margin-left: 8em;
    width: 43%;
    line-height: 155%;
    padding-left: .7em;
}

.practis{
    display: flex;
    width: 80%;
    padding-top: 70px;
    margin: 0 225px;
    justify-content: space-between;
}
  
  .practis1, .practis2{
    width: 50%;
  }
  
  .practis2{
    padding-left: 30px;
  }
  
  .page2 span{
    font-size: 1.4em;
  }
  
  .page2 p, .page4 p, .page6 p{
    font-size: 1.3em;
  }
  
  .practis1 div, .practis2 div{
    width: 75%;
    margin-top: 97px;
  }
  
  .practis1 img, .practis2 img{
    opacity: 1;
    position: absolute;
    margin-left: -5em;
  }

  .page3, .page5, .page7{
    padding-top: 30px;
    padding-bottom: 67px;
  }

  .page3 .border, .page5 .border, .page7 .border{
    margin-top: 7em;
    margin-left: 8em;
    width: 43%;
    line-height: 155%;
    padding-left: .7em;
  }

  .figures{
    font-size: 1.3em;
  }

  .figures img{
    height: 300px;
    width: 270px;
    object-fit: cover;
  }

  #crop1{
    height: 300px;
    width: 270px;
    object-fit: cover;
    object-position: 30%; 
  }

  #crop2{
    height: 300px;
    width: 270px;
    object-fit: cover;
    object-position: 101%; 
  }

  .figures span{
      font-weight: bold;
  }

  .figures{
    display: flex;
    padding-top: 4.4em;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4.5em;
    justify-content: space-between;
  }

  .alan{
    width: 50%;
  }

.alan img:first-child{
    position: relative;
    margin-top: 8em;
    margin-left: 10em;
}

.alan img:nth-child(2){
    position: absolute;
    margin-top: 6em;
    margin-left: -25em;
}

.clients-say blockquote{
    font-size: 0.87em;
    width: 50%;
    line-height: 171%;
    margin-top: 12em;
    margin-right: 30em;
}

blockquote span{
    font-size: 4em;
}

blockquote p{
    margin-top: -2em;
    margin-left: 2em;
}

.clients-say{
    display: flex;
}

.author{
    margin-top: 3em;
    margin-left: 2em;
}

.author span{
    text-transform: uppercase;
    font-size: 1em;
}

.figures2{
    display: flex;
    padding-top: 4.4em;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4.5em;
    justify-content: center;
  }

  .figures2 figure{
      width: 25%;
  }

  .figures2 figcaption{
    width: 23.3em;
  }

  .figures2 img{
    height: 299px;
    width: 370px;
    object-fit: cover;
    object-position: 82%;
  }

  .figures2 p{
    width: 70%;
    line-height: 155%;
    padding-top: 2em;
    margin-left: 2em;
    text-align: justify;
  }


  .figures2 footer{
    width: 70%;
    line-height: 155%;
    padding-top: 2em;
    margin-left: 2em;
    font-weight: bold;
    border-bottom: 2px solid #f1ad1d;
  }

  .publication{
      font-size: 1.3em;
      font-weight: bold;
  }

  .nov{
      margin-left: 10.6em;
      font-style: italic;
  }

  .share{
    margin-left: 10.6em;
}

.questions{
    display: flex;
    margin: 0 auto;
}

.questions ul{
    margin-top: 8em;
    margin-left: 5em;
}

.questions li{
    font-size: 1.2em;
    list-style: none; 
    border-bottom: 2px solid #eec771;
    font-weight: bold;
    margin-top: 2em;
}

.questions li:hover{
    color: #eec771;
}

.questions li:nth-child(1) span, .questions li:nth-child(4) span{
  padding-left: 3em;
}

.questions li:nth-child(2) span{
  padding-left: 7em;
}

.questions li:nth-child(3) span{
  padding-left: 14.5em;
}

.questions li:nth-child(5) span, .questions li:nth-child(6) span{
  padding-left: 13em;
}

.questions p{
    padding: .5em 2em;
}

.questions div:nth-child(1){
    width: 40%;
}

.questions div:nth-child(2){
    background-color: #eec771;
    line-height: 207%;
    width: 33%;
    height: 18em;
    margin-top: 10em;
    margin-left: 3em;
    color: black;
}


.last{
    background-color: black;
    padding-bottom: 7em;
    color: white;
}

.last p{
  margin-left: 7em;
}

